/* Переменные */
    $blue: #2196F3;
    $grey: #2F303A;
    $grey2:#757575;
    $grey-footer: rgba(255, 255, 255, 0.6);
    $greylinks: #AFB1B8;
    $white:#FFFFFF;
    $black:#212121;
    $background-team:#F5F4FA;
    $background-modal: rgba(0, 0, 0, 0.2);

    
    $font-size14px: 14px;
    $font-size16px: 16px;
    $line-height16px: 16px;
